<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
    <link type="text/css" rel="styleSheet" href="../style/ding.css" />
    <link type="text/css" rel="styleSheet" href="../style/product.css" />
    <script type="text/javascript" src="../common/common.js"></script>

</head>

<body>
    <div id="my-head"></div>
    <div class="content" id="product-detail-info">
    </div>
    <div id="my-footer"></div>
    <div id="my-toast"></div>
    <div id="feedback-center"></div>
    <script type="text/javascript" src="product.js"></script>
</body>

</html>