<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link type="text/css" rel="styleSheet" href="../style/ding.css" />
</head>

<body>
    <div class="bottom">
        <section class="back-to-top" onclick="backToTop()">
            <img src="../../static/backtotop.png">
            <span>Back To Top</span>
        </section>
        <section class="footer-link">
            <img src="../../static/instgram.png" onclick="openIns()">
            <img src="../../static/facebook.png" class="middle-icon" onclick="openFace()">
            <img src="../../static/email.png" onclick="openEmail()">
        </section>
        <p>Ding © Sherily Inc</p>
    </div>
</body>

</html>