<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link type="text/css" rel="styleSheet" href="../style/ding.css" />
    <link type="text/css" rel="styleSheet" href="../style/aboutus.css" />
    <!-- <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script> -->
    <script type="text/javascript" src="../common/common.js"></script>
</head>

<body>
    <div id="my-head"></div>
    <div class="content">
        <section class="about-us">
            <img src="../../static/team.jpeg" class="about-us-img">
            <section class="about-us-desc">
                <span class="about-title">Our Team</span>
                <section class="about-title-desc">
                    <section class="about-title-desc-div">
                        <img src="../../static/multiculture.png">
                        <span>Multiculturalism</span>
                    </section>
                    <span>We are a multicultural team, like a blossoming garden.</span>
                </section>
                <section class="about-title-desc">
                    <section class="about-title-desc-div">
                        <img src="../../static/inclusiveness.png">
                        <span>Inclusiveness</span>
                    </section>
                    <span>Our team is more inclusive and creative based on multiculturalism.</span>
                </section>
                <section class="about-title-desc">
                    <section class="about-title-desc-div">
                        <img src="../../static/age.png">
                        <span>Rejuvenation</span>
                    </section>
                    <span>We are a young, enthusiastic and energetic team of explorers.</span>
                </section>
            </section>
        </section>
        <section class="about-us">
            <section class="about-us-desc">
                <span class="about-title">Our Amibition</span>
                <section class="about-title-desc">
                    <section class="about-title-desc-div">
                        <img src="../../static/sunshine.png">
                        <span>Positive</span>
                    </section>
                    <span>We aim to bring positive energy to the public and provide a transparent and fair trading platform for consumers and businesses.</span>
                </section>
                <section class="about-title-desc">
                    <section class="about-title-desc-div">
                        <img src="../../static/product_quality.png">
                        <span>Quality</span>
                    </section>
                    <span>We strictly control product quality testing to ensure that the products delivered to you are healthy and safe and genuine.</span>
                </section>
                <section class="about-title-desc">
                    <section class="about-title-desc-div">
                        <img src="../../static/services.png">
                        <span>Services</span>
                    </section>
                    <span>We have a complete service training system and adhere to the principle of putting the customer first to provide quality service.</span>
                </section>
            </section>
            <img src="../../static/culture.jpg" class="about-us-img">
        </section>
        <section class="about-us">
            <img src="../../static/contact.jpeg" class="about-us-img">
            <section class="about-us-desc">
                <span class="about-title">Contact Us</span>
                <section class="about-title-desc">
                    <section class="about-title-desc-div">
                        <img src="../../static/address.png">
                        <span>Address</span>
                    </section>
                    <span>21 Kensington Avenue, Petone, Lower Hutt 5012</span>
                </section>
                <section class="about-title-desc">
                    <section class="about-title-desc-div">
                        <img src="../../static/services2.png">
                        <span>Phone</span>
                    </section>
                    <span>0800-936-832</span>
                </section>
                <section class="about-title-desc">
                    <section class="about-title-desc-div">
                        <img src="../../static/work_time.png">
                        <span>Work Time</span>
                    </section>
                    <span>Monday - Friday, 8am - 17pm</span>
                </section>
            </section>
        </section>
    </div>
    <div id="my-footer"></div>
    <div id="my-toast"></div>
    <div id="feedback-center"></div>
    <script type="text/javascript">
    </script>
</body>

</html>