<html>

<head>
    <title></title>
    <script type="text/javascript" src="../../data/api/index.js"></script>
</head>

<body>
    <!-- <form method="GET" action="phptest.php">
        Name: <input type="text" name="employername"></br>
        Email: <input type="text" name="employerEmail"></br>
        Phone: <input type="text" name="employerPhone"></br>
        <input type="submit" value="registration"></br>

    </form> -->
    <span>----------------------------------------create department---------------------------------------</span>
    <form>
        Departname: <input id="name" type="text" /> Icon: <input id="file" type="file" accept="image/*" />
    </form>
    <button id="upload" type="button" onclick="upload()">submit</button>
    <img id="result" alt="">
    <span>----------------------------------------create banner---------------------------------------</span>
    <form>
        Banner: <input id="link" type="text" placeholder="link" /> Icon: <input id="file2" type="file" accept="image/*" />
    </form>
    <button id="upload2" type="button" onclick="upload2()">submit</button>
    <img id="result2" alt="">
    <script type="text/javascript">
        function upload() {
            console.log("upload.....")
            var formdata = new FormData();
            formdata.append('pic', $('#file')[0].files[0]);
            UploadFile(formdata).then(data => {
                console.log(data);
                setImg(data)
                var request = {
                    departmentName: document.getElementById("name").value,
                    icon: data
                }
                CreateDepartment(request);

            }).then(data => {
                console.log(data);
            }).catch(err => {
                console.log(err);
            });
        }

        function setImg(pic) {
            document.getElementById("result").src = `${window.location.origin}${pic}`;
        }

        function upload2() {
            console.log("upload.....")
            var formdata = new FormData();
            formdata.append('pic', $('#file2')[0].files[0]);
            UploadFile(formdata).then(data => {
                console.log(data);
                setImg2(data)
                var request = {
                    link: document.getElementById("link").value,
                    img: data
                }
                CreateBanner(request);

            }).then(data => {
                console.log(data);
            }).catch(err => {
                console.log(err);
            });
        }

        function setImg2(pic) {
            document.getElementById("result2").src = `${window.location.origin}${pic}`;
        }
    </script>

</body>

</html>