<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link type="text/css" rel="styleSheet" href="../style/ding.css" />
    <script type="text/javascript" src="../common/common.js"></script>
    <script type="text/javascript" src="home.js"></script>
</head>

<body>
    <div id="my-head"></div>
    <div class="content">
        <!-- banner -->
        <section class="banner-div common-div">
            <section class="banner-desc">
                <section class="desc-section">
                    <img src="../../static/shipping.png">
                    <span>Global Coverage</span>
                </section>
                <section class="desc-section">
                    <img src="../../static/shipping2.png">
                    <span>Speedy Logistics</span>
                </section>
                <section class="desc-section">
                    <img src="../../static/quality.png">
                    <span>Quality Guarantee</span>
                </section>
                <section class="desc-section">
                    <img src="../../static/payonline.png">
                    <span>Online Payment</span>
                </section>
            </section>
            <section class="banner" id="banner">
                <!-- <section class="banner-contanier">
                    <img src="../../static/images.jpeg" id="product-banner">
                </section>
                <section class="banner-indicator">
                    <img src="../../static/dot_unselected.png" id="product-indicator">
                </section> -->
            </section>
        </section>
        <!-- types -->
        <section id="filters-list">
        </section>
    </div>
    <div id="my-footer"></div>
    <div id="feedback-center"></div>
    <div id="my-toast"></div>
    <script>
        canvasHomeFilters();
    </script>
</body>

</html>